name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  ci-rust:
    name: CI Rust
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Verify code formatting
        uses: hecrj/setup-rust-action@v1
        with:
          components: rustfmt

      - run: cargo fmt --all -- --check

      - name: Lint with Clippy
        uses: hecrj/setup-rust-action@v1
        with:
          components: clippy
      
      - run: cargo clippy

      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build

  build-rust:
    name: Build Rust
    runs-on: macos-latest
    needs: ci-rust
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: make install-runtime-target-macos-deps
      - run: make install-runtime-target
      - run: make build-release